.wrapper {
    width: 900px;
    margin: auto;
}

header {
    min-height: 192px;
    padding-top: 74px;
    padding-left: 167px;
}

.menu__item {
    display: inline-block;
}

.menu__link {
    font-size: 14px;
    font-family: "PlayfairDisplay", sans-serif;
    color: rgb(98, 98, 98);
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    margin-right: 100px;
}

.menu__link:hover {
    color: #03a9f4;
}

main {
    font-size: 0;
}

.box {
    width: 420px;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 130px;
}

.box:nth-of-type(odd) {
    margin-right: 60px;
}

.box__img {
    width: 420px;
    height: 280px;

}

footer {
    text-align: center;
}

button {
    width: 163px;
    height: 60px;
    display: inline-block;
    background: #fff;
}